.wz_main{
    padding: 5px 10px;
}
.wz_title{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.wz_time{
    color: #7f7f7f;
    margin-bottom: 5px;
}
.current {
    line-height: 40px;
    padding-left: 5px;
    color: #7f7f7f;
    background: #F6F6F6!important;
}
.wz_title h1{
    font-size: 34px;
    color: #404040;
    font-weight: bold;
    margin-bottom: 10px;
}
.wz_time span{
    margin-right: 20px;
}
.wz_nr{
    margin-top: 10px;
    font-size: 16px;
}
.nextpage{
    margin-top: 10px;
    font-weight: bold;
}
.xwimg{
    width: 500px;
    border-radius: 8px;
}
.wz_main img{
    transform: none;
}

@media only screen and (min-width: 501px) {
    .nextpage{
        overflow: hidden;
    }
    .nextpage .lt {
        float: left;
        display: inline;
        overflow: hidden;
        width: 320px;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 32px;
    }
    .nextpage .rt {
        float: right;
        display: inline;
        overflow: hidden;
        width: 320px;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 32px;
    }
    .zhong_right_search{
        margin-top: 10px;
    }


}
@media only screen and (max-width: 500px) {
    .xwimg{
        width: 100%;
    }
    .current {
        line-height: 30px;
    }
}