<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>粤港澳娱乐新闻网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="最权威的新闻网">
    <meta name="keywords" content="粤港澳娱乐新闻网">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/sm.css" media="(max-device-width:500px)">
    <link rel="stylesheet" type="text/css" href="/css/homeIndex.css">
    <script th:src="@{/js/jquery-1.11.1.js}" type="text/javascript"></script>
    <script th:src="@{/js/common.js}" type="text/javascript"></script>
    <script th:src="@{/js/actionid.js}" type="text/javascript"></script>

    <!--vue和axios引入-->
    <script th:src="@{/js/vuejs-2.5.16.js}" type="text/javascript"></script>
    <script th:src="@{/js/axios-0.18.0.js}" type="text/javascript"></script>
    <style type="text/css">
        .liulan{
            margin-left: 0px;
        }
        @media only screen and (max-width: 500px) {
            .liulan{
                margin-left: 20px;
            }
        }
    </style>
</head>
<body>
    <div th:replace="base/header :: header">...</div>
    <div id="app" class="zhong" v-cloak>
        <div class="zhong_left">

            <div class="zhong_item" v-for="(item, key) in dataList" :key="key">
                <div class="zhong_img">
                    <a :href="'/article/' + item.contentId+'.html'">
                        <img :src="item.imgurls">
                    </a>
                </div>
                <div class="zhong_nr">
                    <h2 class="title_main">
                        <a :href="'/article/' + item.contentId+'.html'" :title="item.title">{{item.title}}</a>
                    </h2>
                    <p class="title_nr" >{{item.content}}</p>
                    <p class="zhong_nr_time">
                        <span>发布：{{item.pushTime}}</span>
                        <span class="liulan">浏览：{{item.viewNum==null?0:item.viewNum}}</span>
                    </p>
                </div>
            </div>

            <div style="margin-top: 5px;padding-right:2px;">
                <a v-if="isloadShow==false && isloadTextShow==false" @click="getXinWenList" class="gengduo">查看更多新闻</a>
                <p v-if="isloadTextShow" href="javascript:void(0);" class="nogengduo">暂无更多新闻...</p>
                <p v-if="isloadShow==true">
                    <span style="">请稍后...</span>
                    <img src="/img/record_loading.gif" height="30" width="30" />
                </p>
            </div>
        </div>
        <div class="zhong_right">
            <div class="zhong_right_search" >
                <form name="formsearch" class="search-form" action="/search.html">
                    <input type="text" class="keyword" name="k" placeholder="输入关键词搜索..." value="">
                    <input type="submit" class="right_search_btn" value="搜索">
                    <!-- <button class="right_search_btn" ><a href="/search.html" >搜索</a></button>-->
                    <!-- <a href="search.html" ><input type="button" class="right_search_btn" value="搜索"></a> -->
                </form>
            </div>
            <div class="piece">
                <h3>推荐新闻</h3>
                <div >

                    <div class="right_item" th:each="tuijian,tuijianStat : ${index.tuijian}">
                        <div class="right_img">
                            <a th:href="@{'/article/'+${tuijian.contentId}+'.html'}">
                                <img th:src="'http://localhost:80' + ${#strings.isEmpty(tuijian.imgurls)==false? #strings.indexOf(tuijian.imgurls, ',') >= 0? #strings.arraySplit(tuijian.imgurls, ',')[0] : tuijian.imgurls : '/img/load_log.png'}">
                            </a>
                        </div>
                        <div class="right_nr">
                            <b>
                                <a th:href="@{'/article/'+${tuijian.contentId}+'.html'}" th:title="${tuijian.title}" th:text="${tuijian.title}">南京抖音培训营：抖音变现8大玩法</a>
                            </b>
                            <p class="right_nr_time">
                                <span th:text="${#strings.substring(tuijian.lastUpdateDatetime,0,#strings.indexOf(tuijian.lastUpdateDatetime,' ')) }">2021-01-19</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div th:replace="base/piece :: piece">...</div>
        </div>
    </div>
    <div th:replace="base/footer :: footer">...</div>

<!--Vue js脚本-->
<script type="text/javascript">
    //创建Vuew实例
    var app = new Vue({
        //元素绑定
        el:'#app',
        //变量定义
        data:{
            hosturl: 'http://localhost',
            dataList:[]     //集合对象，存储后台响应的集合数据
            ,currPage: 1
            ,isloadShow: false
            ,isloadTextShow: false
        },
        //方法
        methods:{
            getXinWenList:function () {
                this.isloadShow = true
                // setTimeout(function () {
                //
                // },2000)

                //请求刚才的链接地址
                axios.get(getxinwen_manage().getXinWenList,{
                    params:{
                        currPage: this.currPage
                    }
                }).then(function (response) {
                    if(null != response.data && null != response.data.data){
                        let dataList = response.data.data.records
                        if(null != dataList && dataList.length > 0){
                            for (let i = 0; i < dataList.length; i++) {
                                const item = dataList[i]
                                if(isNotEmpty(item.content)){
                                    item.content = item.content.replace(/<p>/g, "").replace(/<\/p>/g, "").replace(/\\n/g, "")
                                }
                                //计算几天前发布的
                                if(isNotEmpty(item.lastUpdateDatetime)){
                                    const lastUpdateDatetime = new Date(item.lastUpdateDatetime)
                                    item.pushTime = timeAgo(lastUpdateDatetime.getTime())
                                }else{
                                    item.pushTime = ""
                                }
                                //编辑图片
                                if(isNotEmpty(item.imgurls)){
                                    const imgurls = item.imgurls.split(",")
                                    if(imgurls.length > 0){
                                        item.imgurls = app.hosturl + imgurls[0]
                                    }
                                }else{
                                    item.imgurls = '/img/load_log.png';
                                }

                                //移除html标签
                                if(isNotEmpty(item.content)){
                                    const starNum = item.content.indexOf("<a href=")
                                    if(starNum != -1){
                                        const removeStr = item.content.substring(starNum, item.content.indexOf("</a>"));
                                        item.content = item.content.replace(removeStr, "").replace("</a>", "");
                                    }
                                    item.content = item.content.replace("<br />", "").replace("&nbsp;", "");
                                }
                                app.dataList.push(item)
                            }

                            console.log(response)
                            app.isloadShow = false
                            if(dataList.length > 0){
                                app.currPage++
                            }else{
                                app.isloadTextShow = true
                            }
                        }
                    }else{
                        console.log(response.data.message)
                    }
                });
            }
        },

        //初始化执行
        created:function(){
            //初始化调用
            this.getXinWenList();
        }
    });
</script>
</body>
</html>