<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>action is everything</title>
</head>
<body>
<div  data-th-fragment="footer">
    <footer class="bottom">
        <div>乐趣闻网-热点新闻 国际新闻 娱乐新闻</div>
        <div>网站内容来自网络，如有侵权请联系我们q289590076#163.com(将#替换为@)，立即删除！</div>
        <div>Copyright © 2021 yuegangyl.com 乐趣闻网 - 版权所有 <a href="https://beian.miit.gov.cn" style="color: white;">粤ICP备2021039603号</a></div>
    </footer>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?3b2afaa6efe8daf6570e766f7aa7ba99";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</div>
</body>
</html>