<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>action is everything</title>
</head>
<body>
<div  data-th-fragment="header">
    <div class="top">
        <div class="top_page">
            <div class="top_logo">
                <a href="/">粤港澳娱乐新闻网</a>
            </div>
            <div class="top_nav">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="/search.html?t=两岸">国内新闻</a></li>
                    <li><a href="/search.html?t=香港">香港新闻</a></li>
                    <li><a href="/search.html?t=国际">国际新闻</a></li>
                </ul>
            </div>
            <button class="top_nav_btn">导航栏</button>
        </div>
        <div class="panel">
            <a href="/search.html?t=两岸">国内新闻</a>
            <a href="/search.html?t=香港">香港新闻</a>
            <a href="/search.html?t=国际">国际新闻</a>
        </div>
    </div>
</div>
</body>
</html>