<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>action is everything</title>
</head>
<body>
<div  data-th-fragment="header">
    <script type="text/javascript">

        function showOrHide() {
            var panel = document.getElementById("panel");
            if (panel.style.display == "none") {
                panel.style.display = "";
            }else{
                panel.style.display = "none";
            }
        }
    </script>
    <div class="top">
        <div class="top_page">
            <div class="top_logo">
                <a href="/">粤港澳娱乐新闻网</a>
            </div>
            <div class="top_nav">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="/search.html?t=两岸">国内新闻</a></li>
                    <li><a href="/search.html?t=香港">香港新闻</a></li>
                    <li><a href="/search.html?t=国际">国际新闻</a></li>
                </ul>
            </div>
            <div onclick="showOrHide();" class="top_nav_btn iconfont">&#xe63b;</div>
        </div>
        <div id="panel" style="display: none;height:75px;">
            <div class="nav_type">
                <a href="/search.html?t=两岸">国内新闻</a>
                <a href="/search.html?t=香港">香港新闻</a>
                <a href="/search.html?t=国际">国际新闻</a>
            </div>
            <form name="formsearch" class="search-form" action="/search.html" >
                <input type="text" class="keyword" name="k" placeholder="输入关键词搜索..." value="">
                <input type="submit" class="right_search_btn" value="搜索" style="background-color:#21a7f3;">
            </form>
        </div>
    </div>
</div>
</body>
</html>