<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinwen.mapper.XinWenMapper">

    <resultMap type="com.xinwen.common.entity.XinWenEntity" id="BaseResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="contentId" column="content_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="imgurls" column="imgurls" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="scheduleTs" column="schedule_ts" jdbcType="VARCHAR"/>
        <result property="lastUpdateDatetime" column="last_update_datetime" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getXinWenType" resultType="string">
        select type from xinwen group by type
    </select>

</mapper>