<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinwen.mapper.XinWenMapper">

    <resultMap type="com.xinwen.common.entity.XinWenEntity" id="BaseResultMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="contentId" column="content_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="imgurls" column="imgurls" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="descriptionNr" column="description_nr" jdbcType="VARCHAR"/>
        <result property="viewNum" column="view_num" jdbcType="BIGINT"/>
        <result property="scheduleTs" column="schedule_ts" jdbcType="VARCHAR"/>
        <result property="lastUpdateDatetime" column="last_update_datetime" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseSql">
        id, content_id, title, imgurls, type, content,description_nr, view_num, status, schedule_ts, last_update_datetime, create_time
    </sql>

    <select id="getXinWenType" resultType="string">
        select type from xinwen group by type
    </select>

    <select id="getXinWenRandom" resultMap="BaseResultMap">
        SELECT <include refid="baseSql"/>
        FROM
            xinwen
        WHERE
            id IN (SELECT id FROM (SELECT id FROM xinwen ORDER BY RAND()
        <if test="pageNum != null">
            LIMIT #{pageNum}
        </if> ) t)
    </select>

    <select id="getXinWenPrevious" resultMap="BaseResultMap">
        SELECT
            <include refid="baseSql"/>
        FROM
            xinwen
        WHERE
            id &lt; ( SELECT id FROM xinwen WHERE content_id = #{contentId} )
        ORDER BY id DESC
        LIMIT 1
    </select>

    <select id="getXinWenNext" resultMap="BaseResultMap">
        SELECT
            <include refid="baseSql"/>
        FROM
            xinwen
        WHERE
            id &gt; ( SELECT id FROM xinwen WHERE content_id = #{contentId} )
        ORDER BY id asc
        LIMIT 1
    </select>


</mapper>